.rc1{
    display: inline-block;
    position: relative;
    left: 120px;
    font-size:50px ;
    padding: 10px;
    
    transition: transform 0.3s ;
}
.rc1:hover{
    border-radius: 1px;
    



}










/*--------------------------------------------------------------
# Events
--------------------------------------------------------------*/
.container{
    display: flex;
}

.events{
    margin-top: 10vh;
}
.events .card {
    border: 0;
    padding: 0 20px;
    margin-bottom: 60px;
    position: relative;
}

.events .card-img {
    width: calc(100% + 60px);
    margin-left: -30px;
    overflow: hidden;
    z-index: 9;
    border-radius: 0;
}

.events .card-img img {
    max-width: 100%;
    transition: all 0.3s ease-in-out;
}

.events .card-body {
    z-index: 10;
    background: #fff;
    border: 4px solid #003d99;
    padding: 10px;
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
    margin-top: -60px;
    transition: 0.3s;
}

.events .card-title {
    font-weight: 700;
    text-align: center;
    margin-bottom: 20px;
}

.events .card-title a {
    color: #37423b;
    transition: 0.3s;
}

.events .card-text {
    color: #5e5e5e;
}

.events .read-more a {
    color: #777777;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 12px;
    transition: 0.3s;
}

.events .read-more a:hover {
    color: #5fcf80;
}

/* .events .card:hover img {
  transform: scale(1.1);
} */

.events .card:hover .card-body {
    border-color: #0066ff;
}

.events .card:hover .card-body .card-title a {
    color: #5fcf80;
}

.event-file-options {
    display: flex;
    justify-content: space-evenly;
}

/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
.footer{
    position: relative;
    top: 100;
}
#footer {
    color: white/*#37423b*/
    ;
    font-size: 14px;
    background-color: black/*#eef0ef*/
    ;
}

#footer .footer-top {
    padding: 60px 0 30px 0;
    /*background: #f9faf9;*/
    color: white;
    background-color: #080808;
}

#footer .footer-top .footer-contact {
    margin-bottom: 30px;
}

#footer .footer-top .footer-contact h4 {
    font-size: 22px;
    margin: 0 0 30px 0;
    padding: 2px 0 2px 0;
    line-height: 1;
    font-weight: 700;
}

#footer .footer-top .footer-contact p {
    font-size: 14px;
    line-height: 24px;
    margin-bottom: 0;
    font-family: "Raleway", sans-serif;
    color: #777777;
}

#footer .footer-top h4 {
    font-size: 16px;
    font-weight: bold;
    color: #444444;
    position: relative;
    padding-bottom: 12px;
}

#footer .footer-top .footer-links {
    margin-bottom: 30px;
}

#footer .footer-top .footer-links ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

#footer .footer-top .footer-links ul i {
    padding-right: 2px;
    color: #003380;
    font-size: 18px;
    line-height: 1;
}

#footer .footer-top .footer-links ul li {
    padding: 10px 0;
    display: flex;
    align-items: center;
}

#footer .footer-top .footer-links ul li:first-child {
    padding-top: 0;
}

#footer .footer-top .footer-links ul a {
    color: #777777;
    transition: 0.3s;
    display: inline-block;
    line-height: 1;
}

#footer .footer-top .footer-links ul a:hover {
    text-decoration: none;
    color: #003380;
}

#footer .footer-newsletter {
    font-size: 15px;
}

#footer .footer-newsletter h4 {
    font-size: 16px;
    font-weight: bold;
    color: #444444;
    position: relative;
    padding-bottom: 12px;
}

#footer .footer-newsletter form {
    margin-top: 30px;
    background: #fff;
    padding: 6px 10px;
    position: relative;
    border-radius: 50px;
    text-align: left;
    border: 1px solid #003380;
}

#footer .footer-newsletter form input[type="email"] {
    border: 0;
    padding: 4px 8px;
    width: calc(100% - 100px);
}

#footer .footer-newsletter form input[type="submit"] {
    position: absolute;
    top: -1px;
    right: -1px;
    bottom: -1px;
    border: 0;
    background: none;
    font-size: 16px;
    padding: 0 20px 2px 20px;
    background: #003380;
    color: #fff;
    transition: 0.3s;
    border-radius: 50px;
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
}

#footer .footer-newsletter form input[type="submit"]:hover {
    background: #003380;
}

#footer .credits {
    padding-top: 5px;
    font-size: 13px;
}

#footer .credits a {
    color: #3ac162;
    transition: 0.3s;
}

#footer .credits a:hover {
    color: #5fcf80;
}

#footer .social-links a {
    font-size: 18px;
    display: inline-block;
    background: #003380;
    color: #fff;
    line-height: 1;
    padding: 8px 0;
    margin-right: 4px;
    border-radius: 50%;
    text-align: center;
    width: 36px;
    height: 36px;
    transition: 0.3s;
}

#footer .social-links a:hover {
    background: #3ac162;
    color: #fff;
    text-decoration: none;
}
/*.body-card{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #43345d;
    min-height: 800px;
}*/
.container-event {
    width : 200px;
    display : flex;
    flex-flow: row wrap;
    padding: 50px; 
    margin: 10px;
  }
  .container-event .card-event {
    position: relative;
    max-width : 300px;
    height : 180px;  
    background-color : #fff;
    
    display : flex;
    flex-direction: column;
    box-shadow : 0 5px 20px rgba(0,0,0,0.5);
    transition : 0.3s ease-in-out;
    border-radius : 15px;
  }
  .container-event .card-event:hover {
    height : 470px; 
  }
  
  
  .container-event .card-event .image-event {
    position : relative;
    width : 260px;
    height : 260px;
    
    top : -40%;
    left: 8px;
    box-shadow : 0 5px 20px rgba(0,0,0,0.2);
    z-index : 1;
  }
  
  .container-event .card-event .image-event img {
    max-width : 100%;
    border-radius : 15px;
  }
  
  .container-event .card-event .content-event {
    position : relative;
    top : -140px;
    padding : 10px 15px;
    color : #111;
    text-align : center;
    
    visibility : hidden;
    opacity : 0;
    transition : 0.3s ease-in-out;
      
  }
  
  .container-event .card-event:hover .content-event {
     margin-top : 30px;
     visibility : visible;
     opacity : 1;
     transition-delay: 0.2s;
    
  }
  .body-contact{
    margin: 0;

    padding: 0;

    min-height: 100vh;

    display: flex;

    align-items: center;

    justify-content: center;  

    font-family: sans-serif;

    background-color: #f1f1f1; 

}
.container-contact{
    margin: 10px;
    padding: 10px;
}

.container-contact .card-contact .icon-contact {

    position: absolute;

    top: 0;

    left: 0;

    width: 100%;

    height: 100%;

    background: #2c73df;

}

.container-contact .card-contact .icon-contact .fa {

    position: absolute;

    top: 50%;

    left: 50%;

    transform: translate(-50%, -50%);

    font-size: 80px;

    color: #fff;

}

.container-contact .card-contact .slide {

    width: 300px;

    height: 200px;

    transition: 0.5s;

}

.container-contact .card-contact .slide.slide1 {

    position: relative;

    display: flex;

    justify-content: center;

    align-items: center;

    z-index: 1;

    transition: .7s;

    transform: translateY(100px);

}

.container-contact .card-contact:hover .slide.slide1{

    transform: translateY(0px);

}

.container-contact .card-contact .slide.slide2 {

    position: relative;

    display: flex;

    justify-content: center;

    align-items: center;

    padding: 20px;

    box-sizing: border-box;

    transition: .8s;

    transform: translateY(-100px);

    box-shadow: 0 20px 40px rgba(0,0,0,0.4);

}

.container-contact .card-contact:hover .slide.slide2{

    transform: translateY(0);

}

.container-contact .card-contact .slide.slide2::after{

    content: "";

    position: absolute;

    width: 30px;

    height: 4px;

    bottom: 15px;

    left: 50%;

    left: 50%;

    transform: translateX(-50%);

    background: #2c73df;

}

.container-contact .card-contact .slide.slide2 .content-contact p {

    margin: 0;

    padding: 0;

    text-align: center;

    color: #414141;

}

.container-contact .card-contact .slide.slide2 .content-contact h3 {

    margin: 0 0 10px 0;

    padding: 0;

    font-size: 24px;

    text-align: center;

    color: #414141;

} 
<!-----footer----->

*{
  margin: 0;
  padding: 0;
  font-family: 'poppins', sans-serif;
  box-sizing: border-box;
}
.footer{
  position: absolute;
  top: 8000px;
  margin-top: 150px;
  width: 69%;
  padding: 100px 15%;
  background: #0e0101;
  color: #efefef;
  display: flex;
}
.footer div{
  text-align: center;
}
.col-2{
  flex-grow: 30;
}
.footer div h3 
{
  font-weight: 300;
  margin-bottom: 30px;
  letter-spacing: 1px;

}
.col-1 h3{
position: relative;
right: 30px;
}
.col-1 a{
  display: block;
  text-decoration: none;
  color: #efefef;
  margin-bottom: 10px;
  position: relative;
  right: 30px;

}
form input{
  width: 400px ;
  height: 45px;
  border-radius: 4px;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 40px;
  outline: none;
  border: none;
}
form button{
  background: transparent;
  border: 2px solid #fff;
  color: #fff;
  border-radius: 30px;
  padding: 10px 30px;
  font-size: 15px ;
  cursor: pointer;

}
.social-icons{
  margin-top: 30px;
}
.social-icons i{
  font-size: 22px;
  margin: 10px;
  cursor: pointer;

}
.col-3 h3{
  position: relative;
  left: 30px;
}
.col-3 p{
  display: block;
  text-decoration: none;
  color: #efefef;
  margin-bottom: 10px;
  position: relative;
  left: 30px;
}